name: build and test gradle project

on:
  push:
    paths-ignore:
      - README.md

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
         gradle-version: wrapper
         validate-wrappers: 'true'
      - name: Run build with Gradle
        run: ./gradlew clean build --info
